# Ambiente virtuale
.venv/
venv/

# DataFrames
dataframes
cleaner/output

# Output finale
topic_modeling/output

# Cache di Python
__pycache__/
*.py[cod]

# File di log
*.log

# File temporanei
*.tmp
*.swp

# Config locali (VSCode, IDE, ecc.)
.vscode/
.idea/

# File di sistema
.DS_Store
Thumbs.db