bertopic
hdbscan
joblib
kagglehub
numpy
pandas
scikit-learn
selenium
undetected-chromedriver
sentence-transformers
spacy
torch
tqdm
umap-learn
# scarica modello spacy con python -m spacy download en_core_web_trf